.section {
  background: var(--white);
  padding: 24px 32px 16px 72px;
  border-radius: 0;
  /* margin: 0 0 16px 0; */
  box-shadow: none;
}

.section-title {
  font-size: 1.8rem;
  color: var(--primary);
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.section-subtitle {
  font-size: 1rem;
  color: var(--text-light);
  /* margin-bottom: 32px; */
  line-height: 1.7;
  max-width: 70ch;
}

.section p {
  font-size: 0.95rem;
  color: var(--text-sub-dark);
  line-height: 1.8;
  max-width: 70ch;
  margin-bottom: 16px;
}

.section ul {
  max-width: 50ch;
  color: var(--text-sub-dark);
  padding-left: 1.2rem;
}

.about-header {
  display: flex;
  justify-content: space-evenly;
}

.expertise {
  margin-top: 2rem;
}

.Specializations {
  display: flex;
}

.about-profile-image {
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .section {
    background: var(--white);
    padding: 24px 36px;
    /* border-radius: 0; */
    /* margin: 0 0 16px 0; */
    box-shadow: none;
  }

  .about-header {
    flex-direction: column;
    align-items: center;
  }

  .about-profile-image {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Specializations {
    flex-direction: column;
  }

  .section li {
    margin-bottom: 0.5rem;
  }

}