.clinics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 24px;
  margin: 24px 0;
}

.clinic-card {
  background: white;
  border: 2px solid var(--border);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.clinic-header {
  background: linear-gradient(135deg, hsl(6, 63%, 46%) 0%, hsl(6, 78%, 76%) 100%);
  color: white;
  padding: 16px;
  font-size: 0.95rem;
  font-weight: bold;
}

.clinic-header.kiryat {
  background: linear-gradient(135deg, hsl(37, 86%, 45%) 0%, hsl(37, 90%, 76%) 100%);
}

.clinic-content {
  padding: 12px 24px 20px;
}

.clinic-items {
  display: flex;
  justify-content: space-around;
}

.clinic-item {
  margin: 12px 0;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;

  .item-icon-label {
    color: var(--primary);
    display: flex;
    margin-bottom: 4px;
    align-items: end;

  }

  .item-label {
    margin: 2px 0 0 6px;
  }
}

.clinic-map {
  height: 250px;
  background: #e8f4f8;
  border-radius: 5px;
  margin: 36px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  font-size: 0.65rem;
}

.clinic-services-title {
  font-size: 0.9rem;
  color: var(--primary);
  margin-left: 36px;
  margin-top: 16px;
}

.clinic-item-services {
  margin: 8px 24px;
  padding-inline: 12px;
  font-size: 1.05rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.clinic-card .btn {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .clinics-grid {
    grid-template-columns: 1fr;
  }
}