.guides-buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.section-title-small {
  font-size: 1.25rem;
  margin-top: 0;
}

/* GuidesPage specific overrides */
.cards-grid .card .btn {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

.btn.btn-tertiary.black-text {
  padding: 9.5px 26px;
  background: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn.btn-tertiary.black-text:hover {
  background: var(--primary);
  color: white;
  transform: translateY(-1px);
}