/* ============ NAVIGATION ============ */
.navbar {
  background: var(--primary);
  position: sticky;
  top: 80px;
  z-index: 90;
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

a.nav-item {
  padding: 8px 0 3px;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  color: var(--light);
  transition: all 0.3s ease;
  border: none;
  text-decoration: none;
  border-bottom: 2.5px solid transparent;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.48rem;
  background: transparent;
}

/* button.nav-item {
  background: var(--dark);
  border: none;
  color: var(--light);
  font: inherit;
  cursor: pointer;
  padding: 18px 0;
} */

.nav-item:hover {
  color: var(--accent);
}

.nav-item.active {
  color: var(--secondary);
  border-bottom-color: var(--accent);
}

/* ============ RESPONSIVE ============ */
@media (max-width: 768px) {
  .navbar-container {
    gap: 10px;
    overflow-x: auto;
  }

  .nav-item {
    white-space: nowrap;
    font-size: 0.75rem;
  }
}